<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newthread.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.newthread.domain.Orders">

    <constructor>
      <idArg column="oid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="frid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="products_total" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="delivery_charge" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="order_total" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="planned_delivery_date" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="actual_delivery_date" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="order_date" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ordered_by" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="delivery_address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="order_detail" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
      <arg column="note" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from orders
    where oid = #{oid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.newthread.domain.Orders">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into orders (oid,frid, products_total, delivery_charge,
      order_total, planned_delivery_date, actual_delivery_date, 
      order_date, ordered_by, delivery_address, 
      order_detail,status, note)
    values (#{oid,jdbcType=VARCHAR},#{frid,jdbcType=VARCHAR}, #{productsTotal,jdbcType=INTEGER}, #{deliveryCharge,jdbcType=DOUBLE},
      #{orderTotal,jdbcType=DOUBLE}, #{plannedDeliveryDate,jdbcType=INTEGER}, #{actualDeliveryDate,jdbcType=INTEGER}, 
      #{orderDate,jdbcType=INTEGER}, #{orderedBy,jdbcType=VARCHAR}, #{deliveryAddress,jdbcType=VARCHAR}, 
      #{orderDetail,jdbcType=LONGVARCHAR},#{status,jdbcType=VARCHAR}, #{note,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.newthread.domain.Orders">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update orders
    set products_total = #{productsTotal,jdbcType=INTEGER},
    frid = #{frid,jdbcType=VARCHAR},
      delivery_charge = #{deliveryCharge,jdbcType=DOUBLE},
      order_total = #{orderTotal,jdbcType=DOUBLE},
      planned_delivery_date = #{plannedDeliveryDate,jdbcType=INTEGER},
      actual_delivery_date = #{actualDeliveryDate,jdbcType=INTEGER},
      order_date = #{orderDate,jdbcType=INTEGER},
      ordered_by = #{orderedBy,jdbcType=VARCHAR},
      delivery_address = #{deliveryAddress,jdbcType=VARCHAR},
      order_detail = #{orderDetail,jdbcType=LONGVARCHAR},
      status = #{status,jdbcType=VARCHAR},
      note = #{note,jdbcType=LONGVARCHAR}
    where oid = #{oid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select oid, frid,products_total, delivery_charge, order_total, planned_delivery_date,
    actual_delivery_date, order_date, ordered_by, delivery_address, order_detail,status, note
    from orders
    where oid = #{oid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select oid, frid,products_total, delivery_charge, order_total, planned_delivery_date,
    actual_delivery_date, order_date, ordered_by, delivery_address, order_detail,status, note
    from orders
  </select>
  <select id="selectAllByCid" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select oid, frid,products_total, delivery_charge, order_total, planned_delivery_date,
    actual_delivery_date, order_date, ordered_by, delivery_address, order_detail,status, note
    from orders WHERE ordered_by = #{0}
  </select>
</mapper>